<%- include header.ejs %>
<body>
  <form method="post" action="/add_recruited">
        <label for="name">Enter Student ID</label>
        <input type="text" id="usn" name="student_id" placeholder="4NI17EE100" required >
        <label for="name">Enter Company ID</label>
        <input type="text" id="company_id" name="id" placeholder="company_id" required >
        <label for="name">Enter Package Offered</label>
        <input type="text" id="package" name="package" placeholder="package_offered" required >
<button>Add</button>
</form>
</body>
</html>
