<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>
</head>
<body>

<div class="split left">
  <div class="centered">
    <a href="/add_company">Add Companies</a><br>
    <a href="/add_shortlisted">Add Shortlisted</a><br>
  </div>
</div>
<div class="split right">
  <div class="centered">
<div class="card">
  <a href="/view_companies">View Companies</a><br>
  <a href="/register_students">View Registered</a><br>
    <a href="">View Shortlisted</a><br>
    <a href="">View Recruited</a><br>
 <a href="/logout">Logout</a>
</div>
  </div>
</div>
</body>
</html> 
