<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  width:80%;
  margin:auto;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=date] , input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
select
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body>

<form method="post" action="/signup">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="text"><b>USN</b></label>
    <input type="text" placeholder="4NI16CS109" name="usn" maxlength="10" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="example@gmail.com" name="email" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="repeat" required>
    <label for="text"><b>FName</b></label>
    <input type="text" placeholder="Smith" name="fname" required>
     <label for="text"><b>LName</b></label>
    <input type="text" placeholder="Chaplin" name="lname" required>
    <label ><b>Gender</b></label>
    <select name="gender" required>
      <option>F</option>
      <option>M</option>
    </select>
    <br><br>
    <label for="date"><b>Birthday</b></label>
    <input type="date" placeholder="12/08/1998" name="bday" required>
    <label><b>Contact</b></label>
    <input type="number" name="contactno" placeholder="9919023744" maxlength="10" required>
    <label for="text"><b>Address</b></label>
    <input type="text" name="address" required>
    <label ><b>Semester</b></label>
    <select name="sem" required>
      <option>7</option>
      <option>8</option>
    </select>
    <label ><b>Branch</b></label>
    <select name="branch" required>
      <option>CSE</option>
      <option>ISE</option>
      <option>ECE</option>
      <option>EEE</option>
      <option>MCA</option>
      <option>MTECH</option>
      <option>CIVIL</option>
      <option>IPE</option>
      <option>MECH</option>
    </select>
    <label><b>10th</b></label>
    <input type="number" name="tenth" placeholder="85" required>
    <label><b>12th</b></label>
    <input type="number" name="twelth" placeholder="85" required>
    <label><b>cgpa</b></label>
    <input type="number" name="cgpa" placeholder="8" required>
    <label><b>Arrears</b></label>
    <input type="number" name="arrears" placeholder="0" required>
    <label><b>Mute</b></label>
    <input type="number" name="mute" placeholder="0" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="/student_login">Sign in</a>.</p>
  </div>
</form>

</body>
</html>
